body{
    background-color: rgba(0, 0, 0, 0.927);
}

header{
    color: #e50914;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-left: 40px;
}

.viendo-ahora{
    margin-top: 70px;
    text-align: center;
}

.texto-1{
    color: white;
    font-size: 3.2vw;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.perfiles{
    width: 60%;
    margin-left: 270px;
    height: 200px;
}

.cuadrito{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.cuadrito:hover{
    cursor: pointer;
}

.cuadrito:hover > p{
    color: #fff;
}

.imagen{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    align-items: center;
    align-content: center;
}

.juanjo{
    color: #8C8C8C;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left: 70px;
}

.diana{
    color: #8C8C8C;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left: 70px;
}

.joel{
    color: #8C8C8C;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left: 70px;
}

.agregar-perfil{
    color: #8C8C8C;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left: 50px;
    width: 100%;
}

p:hover{
    cursor: pointer;
    color: #fff;
}

.perfil-4{
    background-image:  url("../../img/agregarPerfil.png");
    background-size: 150px;
}

.perfil-4:hover{
    background-image: url("../../img/perfilesHover.png");
    background-size: 150px;
}

.administrar-perfiles{
    border: 1px solid #8C8C8C;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-left: 500px;
}

.administrar-perfiles:hover{
    cursor: pointer;
    border: 1px solid #fff;
}

.administrar-perfiles:hover > span{
    color: #fff;
}

span{
    color: #8C8C8C;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 160px;
    padding-left: 30px;
}

a{
    color: transparent;
}