.imagen{
    background-image: url("../img/imagenfondoNetflix.jpg");
    margin: 0;
    margin-bottom: 40px;
    /* opacity: 0.5; */
}

h1{
    color: #FFF;
    font-weight: bold;
    font-size: 40px;
}

a{
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
    margin-left: 400px;
}

.mantenimiento{
    margin-left: 10%;
    margin-top: 250px;
}