html{
    margin: 0;
}

.fondo{
    background-image: url("../img/imagenfondoNetflix.jpg");
    margin: 0;
    margin-bottom: 40px;
    /* opacity: 0.5; */
}

.fondo:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 900px;
    background-color: rgba(0,0,0,0.6);
}

.header{
    position: absolute;
    left: 30px;
    top:20px;
    margin: 0;
}

.izquierda .netflix{
    color: red;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

.netflix:hover{
    cursor: pointer;
}

.formulario{
    position: absolute;
    background-color: black;
    opacity: 0.9;
    width: 460px;
    height: 600px;
    left: 400px;
    top: 80px;
    border-radius: 10px;
}

.sesion{
    position: absolute;
    color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left: 50px;
    padding-top: 60px;
    top: 60px;
    left: 410px;
}

.input{
    display: block;
    width: 320px;
    height: 50px;
    background-color: #333;
    color: #8C8C8C;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    border: 1px solid black;
}

.email{
    position: absolute;
    left: 460px;
    top: 200px;
}

.password{
    position: absolute;
    left: 460px;
    top: 270px;
}

.button{
    position: absolute;
    background-color: #e50914 !important;
    color: #fff;
    width: 334px !important;
    left: 460px;
    top: 360px;
    border-radius: 4px;
}

.button:hover{
    cursor: pointer;
}

.checkbox{
    position: absolute;
    left: 455px;
    top: 417px;
    height: 18px;
    width: 18px;
}

.recuerdame{
    position: absolute;
    left: 480px;
    top: 420px;
    color: #B3B3B3;
}

span{
    position: absolute;
    left: 480px;
    top: 422px;
    color: #B3B3B3;
}

.ayuda{
    position: absolute;
    color: #B3B3B3;
    top: 422px;
    left: 680px;
    text-decoration: none;
}

.ayuda:hover{
    text-decoration: underline;
}

.suscribete{
    position: absolute;
    width: 332px;
    height: 25px;
    top: 455px;
    left: 460px;
}

.primera{
    color: #737373;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.suscripcion{
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.suscripcion:hover{
    cursor: pointer;
    text-decoration: underline;
}

.captcha{
    position: relative;
    width: 800px;
    height: 100px;
    top: 80px;
    right: 19px;
}

.comprobar{
    font-size: 13px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #8C8C8C;
}

.info{
    position: absolute;
    top: 438px;
    left: 702px;
    font-size: 13px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: blue;
}

footer{
    background-color: black;
    width: 98.7vw;
    height: 250px;
    position: absolute;
    top: 750px;
    left: 0;
    opacity: 0.9;
}


.preguntas{
    position: relative;
    top: 10px;
    left: 100px;
    color: #757575;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 600px;
}

.llama{
    color: #757575;
    text-decoration: none;
}

.llama:hover{
    text-decoration: underline;
}

.primero{
    display: flex;
    color: #757575;
    margin-left: 60px;
    margin-top: 30px;
    width: 700px;
    justify-content: space-between;
}

.segundo{
    display: flex;
    margin-left: 100px;
    width: 460px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    color: #757575;
}

.preferencias{
    width: 50%;
}

.informacion{
    width: 50%;
}

.primero li{
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.segundo li{
    display: inline-block;
    margin-top: 5px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.idiomas{
    width: 70px;
    margin-left: 100px;
    margin-top: 30px;
    width: 120px;
    height: 40px;
    border: 1px solid #757575;
}

.lenguajes{
    position: absolute;
    left: 140px;
    top: 160px;
    color: #757575;
    background-color: transparent;
    border: none;
}

.gg-shape-circle{
    position: absolute;
    top: 160px;
    left: 110px;
    color: #757575;
}